/*fonts*/
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
        url("../fonts/FuturaPT-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("../fonts/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("../fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*general styles*/
:root {
	--main-yellow: #ffbd54;
	--main-black: #333333;
	--main-white: #ffffff;
	height: 100%;
}
.body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Futura PT", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*body*/
/*site-header*/
.site-header__address-work {
	background-color: #f9f8f8;
}
.address-work__container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 11px;
	padding-bottom: 11px;
}
.address-work__address {
	display: flex;
	align-items: center;
	margin-right: 105px;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}
	.address-work__address::before {
		content: "";
		width: 13px;
		height: 13px;
		margin-right: 9px;
		background-image: url("../img/home-icon.png");
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
	}
.address-work__tel-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-right: 100px;
	list-style-type: none;
}
	.address-work__tel-list::before {
		content: "";
		width: 13px;
		height: 13px;
		margin-right: 9px;
		background-image: url("../img/tel-icon.png");
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
	}
.address-work__tel-item {
	display: flex;
	align-items: center;
}
	.address-work__tel-item:not(:last-child) {
		margin-right: 9px;
	}
	.address-work__tel-item:nth-of-type(2)::before,
	.address-work__tel-item:nth-of-type(3)::before {
		content: "";
		width: 4px;
		height: 4px;
		margin-right: 9px;
		border-radius: 50%;
		background-color: var(--main-yellow);
	}
.address-work__tel-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	white-space: nowrap;
	color: var(--main-black);
	text-decoration: none;
}
	.address-work__tel-link:hover {
		color: var(--main-yellow);
	}
	.address-work__tel-link:active {
		color: var(--main-black);
		opacity: 0.5;
	}
.week-time-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
	.week-time-wrapper::before {
		content: "";
		flex-shrink: 0;
		width: 15px;
		height: 15px;
		margin-right: 7px;
		background-image: url("../img/schedule.png");
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
	}
.week-time {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}
	.week-time:first-of-type {
		margin-right: 17px;
	}
.week {
	font-weight: 500;
}

/*site-nav*/
.site-nav {
	border: 1px solid #f3f3f3;
	background-color: var(--main-white);
}
.site-nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	position: relative;
	flex-shrink: 0;
	width: 184px;
}
.logo__link {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
	.logo__link:hover {
		opacity: 0.8;
	}
	.logo__link:active {
		opacity: 0.5;
	}
.logo__img {
	display: block;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
	list-style-type: none;
}
	.header__item--active .header__link::before {
		content: "";
		width: 22px;
		height: 22px;
		margin-right: 12px;
		background-image: url("../img/active-icon.png");
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center;
	}
.header__link {
	display: flex;
	align-items: center;
	padding: 19px 27px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	color: var(--main-black);
	text-decoration: none;
}
	.header__link:hover {
		color: var(--main-black);
		background-color: var(--main-yellow);
	}
	.header__link:active {
		opacity: 0.5;
	}
.header__question {
	display: flex;
	align-items: center;
	padding: 19px 27px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	white-space: nowrap;
	color: var(--main-black);
	text-decoration: none;
}
	.header__question::before {
		content: "";
		width: 24px;
		height: 22px;
		margin-right: 5px;
		background-image: url("../img/pet-foot-icon.png");
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center;
	}
	.header__question:hover {
		color: var(--main-white);
		background-color: var(--main-black);
	}
	.header__question:active {
		opacity: 0.5;
	}

/*site-main*/
.site-main {
	flex-grow: 1;
	background-color: #f9f9f9;
}