/*fonts*/
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
        url("../fonts/FuturaPT-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("../fonts/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("../fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*general styles*/
:root {
	--main-yellow: #ffbd54;
	--main-black: #333333;
	--main-white: #ffffff;
	height: 100%;
}
.body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Futura PT", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*body*/
/*site-header*/
.site-header__address-work {
	background-color: #f9f8f8;
}
.address-work__container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 11px;
	padding-bottom: 11px;
}
.address-work__address {
	display: flex;
	align-items: center;
	margin-right: 105px;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}
	.address-work__address::before {
		content: "";
		width: 13px;
		height: 13px;
		margin-right: 9px;
		background-image: url("../img/home-icon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
.address-work__tel-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-right: 100px;
	list-style-type: none;
}
	.address-work__tel-list::before {
		content: "";
		width: 13px;
		height: 13px;
		margin-right: 9px;
		background-image: url("../img/tel-icon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
.address-work__tel-item {
	display: flex;
	align-items: center;
}
	.address-work__tel-item:not(:last-child) {
		margin-right: 9px;
	}
	.address-work__tel-item:nth-of-type(2)::before,
	.address-work__tel-item:nth-of-type(3)::before {
		content: "";
		width: 4px;
		height: 4px;
		margin-right: 9px;
		border-radius: 50%;
		background-color: var(--main-yellow);
	}
.address-work__tel-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	white-space: nowrap;
	color: var(--main-black);
	text-decoration: none;
}
	.address-work__tel-link:hover {
		color: var(--main-yellow);
	}
	.address-work__tel-link:active {
		color: var(--main-black);
		opacity: 0.5;
	}
.week-time-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
	.week-time-wrapper::before {
		content: "";
		flex-shrink: 0;
		width: 15px;
		height: 15px;
		margin-right: 7px;
		background-image: url("../img/schedule.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
.week-time {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}
	.week-time:first-of-type {
		margin-right: 17px;
	}
.week {
	font-weight: 500;
}

/*site-nav*/
.site-nav {
	border: 1px solid #f3f3f3;
	background-color: var(--main-white);
}
.site-nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	position: relative;
	flex-shrink: 0;
	width: 184px;
}
.logo__link {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
	.logo__link:hover {
		opacity: 0.8;
	}
	.logo__link:active {
		opacity: 0.5;
	}
.logo__img {
	display: block;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
	list-style-type: none;
}
	.header__item--active .header__link::before {
		content: "";
		width: 22px;
		height: 22px;
		margin-right: 12px;
		background-image: url("../img/active-icon.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
.header__link {
	display: flex;
	align-items: center;
	padding: 19px 27px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	color: var(--main-black);
	text-decoration: none;
}
	.header__link:hover {
		color: var(--main-black);
		background-color: var(--main-yellow);
	}
	.header__link:active {
		opacity: 0.5;
	}
.header__question {
	display: flex;
	align-items: center;
	padding: 19px 27px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	white-space: nowrap;
	color: var(--main-black);
	text-decoration: none;
}
	.header__question::before {
		content: "";
		width: 24px;
		height: 22px;
		margin-right: 5px;
		background-image: url("../img/pet-foot-icon.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	.header__question:hover {
		color: var(--main-white);
		background-color: var(--main-black);
	}
	.header__question:active {
		opacity: 0.5;
	}

/*site-main*/
.site-main {
	flex-grow: 1;
	background-color: #f9f9f9;
}

/*news*/
.news__wrapper {
	display: flex;
}
.news__box {
	display: flex;
	flex-direction: column;
	width: 305px;
	margin-right: 24px;
	background-color: var(--main-white);
	border: 1px solid #e4e4e2;
	border-radius: 5px;
	overflow: hidden;
}
.news__img {
	display: block;
	width: 305px;
	height: 180px;
	object-fit: cover;
	object-position: center center;
}
.news__article {
	display: flex;
	flex-direction: column;
	padding: 21px 22px 35px;
	background-color: #f9f9f9;
}
.time-wrapper {
	order: -1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.article__hash-link {
	display: none;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: #3d9cea;
	text-decoration: none;
	margin-right: 7px;
}
	.article__hash-link:last-child {
		margin-right: 0;
	}
.article__time {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #949494;
}
.article__heading	{
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 8px;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}
.article__text {
	max-height: 60px;
	margin-top: 0;
	margin-left: 8px;
	margin-bottom: 34px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
	overflow: hidden;
}
.article__link {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	color: var(--main-black);
	text-decoration: none;
}	
	.article__link:hover {
		color: var(--main-yellow);
	}
	.article__link:active {
		opacity: 0.5;
	}
	.article__link::before {
		content: "";
		width: 24px;
		height: 22px;
		margin-right: 5px;
		background-image: url("../img/pet-foot-icon.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;	
	}

/*active*/
.img-wrapper {
	width: 100%;
	height: 100%;
}
.news__box--active {
	flex-direction: row;
	width: 640px;
}
.news__box--active .news__img {
	display: block;
	width: 305px;
	height: 435px;
}
.news__box--active .article {
	padding: 41px 34px 34px 30px;
	background-color: var(--main-white);
}
.news__box--active .article__heading {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 26px;
	line-height: 29px;
	color: var(--main-black);
}
.news__box--active .article__hash-link {
	display: inline-block;
}
.news__box--active .article__text {
	max-height: 180px;
	margin-bottom: 33px;
}